config_data = {
	tvault : 
	{
		protocol: "{{ tvault_endpoint_protocol }}",
        websocket_protocol:"wss",
		ip: "{{ virtual_ip_fqdn }}",
    	port: "",
		websocket_port:"8888",
		project_id: "admin"
	}
}
